@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(20, 20, 20);
}

.youtube > * {
    color: aliceblue;
}

/*GRID STYLING*/
.youtube {
    display: grid;
    grid: 
    "menu menu menu menu menu" 50px
    "sidebar videos videos videos videos" 1fr 
    / 1fr 4fr;
    color: aliceblue;
}

.menu {
    grid-area: menu;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid:
    "main"
    "sideline" 10px
    "tools" 
    "subscriptions" 60px
    "channels" 3fr / 1fr
}

.videos {
    grid-area: videos;
    display: grid;
    grid: 
    "defaultvideo defaultvideo defaultvideo defaultvideo defaultvideo" 1fr
    "line line line line line" 10px
    "shorts shorts shorts shorts shorts" 60px
    "shortsvideo shortsvideo shortsvideo shortsvideo shortsvideo" 2fr
    / 1fr;
    row-gap: 1rem;
}

/*MENU CONFIG*/
.hamburger {
    padding: 10px;
}

.hamburger-button {
    background-color: transparent;
    border: none;
}

.hamburger-button:hover {
    background-color: gray;
    border-radius: 30px;
    cursor: pointer;
}
.search {
    padding-top: 2px;
}

.search-bar {
    background-color: #20202070;
    border: 2px solid #a1a1a1;
    border-radius: 30px 0 0 30px;
    backdrop-filter: blur(8px);
    padding-left: 12px;
    width: 50vh;
    height: 30px;
    color: aliceblue;
}

.search-button {
    background-color: #a1a1a1;
    border: 2px solid #a1a1a1;
    border-radius: 0 30px 30px 0;
    position: absolute;
    height: 36px;
}

.search-button:hover {
    cursor: pointer;
    background-color: #aaaaaa;
    border: 2px solid #aaaaaa;
}

.profile {
    border-radius: 30px;
    cursor: pointer;
    padding: 8px;
}

/*SIDEBAR CONFIG*/

.youtube-sections {
    list-style: none;
}

.youtube-sections li {
    width: 70%;
    height: 40px;
    text-align: left;
    padding-top: 10px;
}

.youtube-sections li:hover {
    background-color: #aaaaaa;
    border-radius: 12px;
    cursor: pointer;
}

.youtube-sections a {
    text-decoration: none;
    color: aliceblue;
}

.sideline {
    width: 80%;
}

.sidebar h3 {
    padding-left: 12px;
}

.sidebar p {
    padding-left: 16px;
}

.subscribed-channels {
    display: inline-block;
}

.subscribed-channels img {
    width: 30px;
    border-radius: 10px;
    padding-right: 12px;
}

.subscribed-channels p {
    display: inline;
}

/* VIDEOS CONFIG */

.item-videos_default {
    grid-area: defaultvideo;
    display: grid;
    grid:
    300px
    / 1fr 1fr 1fr 1fr;
}

.video {
    display: inline;
}


.image-video {
    width: 250px;
    height: 160px;
    padding: 8px;
    border-radius: 16px;
    cursor: pointer;
}

.video .info {
    padding-left: 60px;
    font-size: small;
    color: gray;
    margin: 2px;
}

.video span {
    padding-left: 16px;
    font-size: large;
    vertical-align: super;
}

.channel-profile {
    width: 32px;
    display: inline;
    height: 32px;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 10px;
}

.line{
    grid-area: line;
    width: 750px;
}

.item-videos_shorts {
    grid-area: shortsvideo;
    display: grid;
}

.item-videos_shorts {
    grid-area: shortsvideo;
    grid: 
    "shorts" 600px/ 1fr 1fr 1fr 1fr 1fr;
}